body {
	font-family: 'Roboto', Franklin Gothic, sans-serif;
	font-size: 16px;
}
/* NAV */
nav {
	font-size: 0.8rem;
}
.navbar-toggler {
	color: #1AFF68;
}
.navbar-toggler-icon {
	background-image: url(../imgs/hamb.svg);
}
/* SECTIONS */
article {
	margin: 10rem 0 5rem 0;
}
.intro {
	margin: 0;
}
footer {
	font-size: 0.8rem;
}

/* COMPONENTS */
.cta {
	margin: 1rem 0;
	border: 2px solid #1AFF68;
	background-color: #1AFF68;
	border-radius: 40px;
	color: #001E50;
	text-align: center;
	font-weight: bold;
}
.nav-item .cta {
	margin: 0;
}